.existingAutomations{
    margin-top: 5%;
    overflow-y: auto;
    /*height: 100px;*/
    height:55vh;
}

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
