.content{
    padding: 0 5%;
    display: block;
}

.classes{
    background-color: white;
    border-radius: 10px;
    font-size:20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding: 1% 1%;
    align-items: center;
    width: 100%;
    /*background-color: blue;*/
}

.class{
    /*background-color: orange;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.class a{
    padding:10px 15px;
    width: 100%;
    border-radius: 5px;
}
a:hover{
    background-color: #F3F3F3;
}