a{
    padding:10px 15px;
    border-radius: 5px;
    width: 90%;
}

a:hover{
    background-color: #F3F3F3;
}
.content{

    display: block;
}

.cards-wrapper{
   display: flex;
   /* background-color: red; */
   justify-content: space-between;
}

.card-content{
    display: flex;
    flex-direction: column;
    
    margin-top: 2%;
    width: 100%;
    gap:25px;
}

.card{
    text-align: center;
    width: 29vw !important;
    overflow: hidden;
}

.card-main{
    
    margin-top: 5%;
    display: flex;
    align-items: center !important;
    flex-direction: column;
}

#activities{
    overflow-y: auto;
    overflow-x: hidden;
}



#classes{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-y: auto;
}

#classes,#activities a{
    font-size: 20px;
    line-height: 20px;
}

.class{
    padding: 15px;
    display: flex;
    justify-content: center;
}


.options{
    margin-top:1%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 1%;
}

#manual-upload{
    overflow-y: auto;
}

#uploadbox{
    background-color: #F3F3F3;
    width:80%;
    aspect-ratio: 9/10;
    border-radius: 10px;
    border: none;
    resize: none;
    padding:5px;
}



@media (width <= 600px) {
    .cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .card{
        width: 100% !important;
        margin-top: 25px;
        aspect-ratio: 0/0;
        max-height: 450px;
    }

    nav{
        padding:0 5px 0 0;
    }

    nav h1{
        display: none;
    }
    nav .links{
        gap:5px
    }
    .content{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}