

.content{
    display: block;
    margin-top: 0vw;
    width: 100%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
    z-index: 1;
    color: #ffffff;
  }


h1{
    font-size: 100px;
}

.background-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/static/assets/index-bg.png'); /* Replace with your background image */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.foreground-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.foreground-image {
    position: absolute;
    bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 2;
    width:100vw;
}
  
#page2{
    background-color: #01352a;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page2 .text-wrapper{
    margin-top: 30px;
    width: 50ch;
    text-align: center;
}

p{  
    color: white;
}


#page2 .navigation{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
#page2 .navigation button{
    padding: 0px 5vw;
    border: 0;
    border-radius: 10px;
    font-family: 'Jost';
    font-weight: 500;
    font-size:3em;
    color: white;
    background-color: transparent;
}

.active{
    background-color: #5BB3A8 !important;
}

#cookieWrapper{
    position: fixed;
    bottom:0;
    z-index: 1000;
    background-color: white;
    width: 98%;
    border-radius: 10px;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#cookieWrapper p{
    color: black;
}