body{
    background-color: #F3F3F3;
    font-family: 'Jost';
}


.card{
    width: 70vw;
    aspect-ratio: 1/0.5 ;
}


.img-wrapper{
    width: 50%;
    display: flex;
    align-items:end;
    
}
.card img{
    width: 100%;
    height:100%;
    border-radius:30px 0 0 30px;
}

.inputs-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    gap:50px;
    
}

form{
    display: flex;
    flex-direction: column;
    gap:25px;
    width:75%;
}






